
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <meta
      name="description"
      content="WASM API client with bells and whistles."
    />
    <link rel="stylesheet" href="vendor/pico.classless.green.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Agreement</title>
    <script src="js/index.js" type="module"></script>
    <script defer src="vendor/alpinejs@3.14.8.min.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <strong>
              <a href="/">We Are in Agreement</a>
            </strong>
          </li>
        </ul>
        <ul>
          <li>
            <a href="/about">About</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}
      <p>Content not loaded! This is an error.</p>
      {% endblock %}
    </main>
    <footer>
      <a href="https://github.com/ioansx/agreement">GitHub</a>
    </footer>
  </body>
</html>
